*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 90em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.header {
  max-width: 144rem;
  max-height: 90vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "leftSideUp rightSide rightSide" "leftSideDown rightSide rightSide";
}
@media only screen and (max-width: 56.25em) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "leftSideUp" "leftSideDown" "rightSide";
  }
}

#menu {
  background-color: rgba(255, 105, 105, 0.51);
}

.menu {
  max-width: 144rem;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu--links {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 50em) {
  .menu--links {
    display: none;
  }
}
.menu--links__link {
  font-size: 1.8rem;
  color: #000;
}
.menu--links__link:not(:first-child) {
  margin-left: 5rem;
}
.menu--links__link:nth-child(5) {
  margin-right: 11rem;
}
.menu--links__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4.7rem;
  background: #ff6b6b;
  border-radius: 2rem;
  font-size: 1.8rem;
  color: #fff;
}

.rightSide {
  grid-area: rightSide;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr;
  gap: 0px 0px;
  grid-template-areas: "h1 h1 h1" "orar slide slide";
}
@media only screen and (max-width: 68.75em) {
  .rightSide {
    grid-template-rows: max-content 1fr 1fr 1fr;
    grid-template-areas: "h1 h1 h1" "btn btn btn" "orar orar orar" "slide slide slide";
  }
}
@media only screen and (max-width: 56.25em) {
  .rightSide {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "slide";
  }
}
@media only screen and (max-width: 37.5em) {
  .rightSide {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "orar" "slide";
  }
}
.rightSide .h1 {
  grid-area: h1;
}
@media only screen and (max-width: 56.25em) {
  .rightSide .h1 {
    position: absolute;
    top: 17rem;
    width: 100%;
    padding: 2rem 8rem 2rem 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .rightSide .h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.rightSide .h1 .para--header {
  display: flex;
  align-items: center;
  margin-left: 9rem;
}
@media only screen and (max-width: 37.5em) {
  .rightSide .h1 .para--header {
    margin-left: 0;
  }
}
.rightSide .h1 .para--header p {
  font-style: italic;
  font-weight: 300;
  font-size: 2.4rem;
  color: #000;
  margin-left: 1.8rem;
}
.rightSide .h1 h1 {
  font-weight: 600;
  font-size: 14rem;
  color: #4e4e4e;
  margin-left: -25rem;
}
@media only screen and (max-width: 56.25em) {
  .rightSide .h1 h1 {
    margin-left: 0;
  }
}
@media only screen and (max-width: 44.0625em) {
  .rightSide .h1 h1 {
    font-size: 11rem;
  }
}
.rightSide .orar {
  grid-area: orar;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 68.75em) {
  .rightSide .orar {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 56.25em) {
  .rightSide .orar {
    position: absolute;
    width: max-content;
    top: 65rem;
    left: 50rem;
  }
}
@media only screen and (max-width: 50.375em) {
  .rightSide .orar {
    flex-direction: column;
    top: 55rem;
    left: 70rem;
  }
}
@media only screen and (max-width: 41em) {
  .rightSide .orar {
    flex-direction: column;
    top: 55rem;
    left: 65rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .rightSide .orar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.rightSide .orar__btn {
  width: 24rem;
  height: 5rem;
  background: #ff6b6b;
  border-radius: 2rem;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5.7rem;
}
@media only screen and (max-width: 68.75em) {
  .rightSide .orar__btn {
    display: none;
  }
}
.rightSide .orar__btn img {
  margin-right: 0.7rem;
}
.rightSide .orar__card {
  padding: 0 2rem;
  width: 24rem;
  height: 7rem;
  background: #fff;
  box-shadow: 0px 0.4rem 2.5rem -1rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 68.75em) {
  .rightSide .orar__card {
    margin-bottom: 4rem;
  }
}
.rightSide .orar__card:not(:last-child) {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 68.75em) {
  .rightSide .orar__card:not(:last-child) {
    margin-bottom: 4rem;
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 50.375em) {
  .rightSide .orar__card:not(:last-child) {
    margin-right: 0;
  }
}
.rightSide .orar__card--icon {
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
}
.rightSide .orar__card--icon__calendar {
  background: url(/img/calendar-icon.png), #ffafaf;
  width: 4.6rem;
  height: 4.6rem;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10rem;
}
.rightSide .orar__card--icon__clock {
  background: url(/img/ceas-icon.png), #ffafaf;
  width: 4.6rem;
  height: 4.6rem;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10rem;
}
.rightSide .orar__card--icon__phone {
  background: url(/img/phone-icon.png), #ffafaf;
  width: 4.6rem;
  height: 4.6rem;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10rem;
}
.rightSide .orar__card--txt {
  margin-left: 2rem;
  font-size: 1.6rem;
  color: #4e4e4e;
}
.rightSide .btnbook {
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .rightSide .btnbook {
    padding-right: 0;
  }
}
.rightSide .btn {
  width: 24rem;
  height: 5rem;
  background: #ff6b6b;
  border-radius: 2rem;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 4rem;
  visibility: hidden;
  position: relative;
}
@media only screen and (max-width: 68.75em) {
  .rightSide .btn {
    visibility: visible;
  }
}
.rightSide .btn img {
  margin-right: 0.7rem;
}
.rightSide .slide {
  grid-area: slide;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 0 4rem 0;
}
@media only screen and (max-width: 56.25em) {
  .rightSide .slide {
    justify-content: center;
    align-items: center;
  }
}
.rightSide .slide .imgs {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 90em) {
  .rightSide .slide .imgs img {
    width: 90%;
  }
}
.rightSide .slide__btns {
  display: flex;
  align-items: center;
  padding-right: 12rem;
  padding-top: 1rem;
}
.rightSide .slide__btns span {
  margin: 0 1rem;
  font-size: 2.6rem;
  font-weight: 300;
}
.rightSide .slide__btns img {
  cursor: pointer;
}

.leftSideUp {
  grid-area: leftSideUp;
  width: 48rem;
  height: 80rem;
  border-radius: 0px 0px 29rem 29rem;
  background-image: url(../img/header-h.png);
  background-color: rgba(255, 105, 105, 0.51);
  background-blend-mode: screen;
  background-position: center bottom;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 37.5em) {
  .leftSideUp {
    margin: 0 auto;
  }
}

.leftSideDown {
  padding: 1.5rem 0;
  grid-area: leftSideDown;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
@media only screen and (max-width: 56.25em) {
  .leftSideDown {
    position: absolute;
    top: 82rem;
    right: 2rem;
  }
}
@media only screen and (max-width: 46.875em) {
  .leftSideDown {
    right: 0;
    left: 47rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .leftSideDown {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
}
.leftSideDown .icon {
  cursor: pointer;
}
.leftSideDown .icon:not(:first-child) {
  margin-left: 3rem;
}

/*# sourceMappingURL=style.css.map */
