.header {
  max-width: 144rem;
  max-height: 90vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'leftSideUp rightSide rightSide'
    'leftSideDown rightSide rightSide';
  // background-color: #000;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'leftSideUp'
      'leftSideDown'
      'rightSide';
  }
}

#menu {
  background-color: rgba(255, 105, 105, 0.51);
}

.menu {
  max-width: 144rem;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--logo {
  }
  &--links {
    display: flex;
    align-items: center;
    cursor: pointer;

    @media only screen and (max-width: 50em) {
      display: none;
    }
    &__link {
      font-size: 1.8rem;
      color: #000;

      &:not(:first-child) {
        margin-left: 5rem;
      }

      &:nth-child(5) {
        margin-right: 11rem;
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15rem;
      height: 4.7rem;
      background: #ff6b6b;
      border-radius: 2rem;
      font-size: 1.8rem;
      color: #fff;
    }
  }
}

// .left-side {
//   position: absolute;
//   top: 0;
//   left: auto;
//   width: 48rem;
//   height: 80rem;
//   border-radius: 0px 0px 29rem 29rem;
//   background-image: url(../img/header-h.png);
//   background-color: rgba(255, 105, 105, 0.51);
//   background-blend-mode: screen;
//   background-position: center bottom;
//   background-repeat: no-repeat;
//   z-index: -1;

.rightSide {
  grid-area: rightSide;
  // background-color: blue;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'h1 h1 h1'
    'orar slide slide';

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: max-content 1fr 1fr 1fr;
    grid-template-areas:
      'h1 h1 h1'
      'btn btn btn'
      'orar orar orar'
      'slide slide slide';
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'slide';
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'orar'
      'slide';
    padding-top: 0;
  }

  & .h1 {
    grid-area: h1;

    @media only screen and (max-width: $bp-medium) {
      position: absolute;
      top: 17rem;
      // left: 50%;
      // transform: translateX(-50%);
      width: 100%;
      padding: 2rem 8rem 2rem 8rem;
    }

    @media only screen and (max-width: $bp-small) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      top: 14rem;
    }
    & .para--header {
      display: flex;
      align-items: center;
      margin-left: 9rem;

      @media only screen and (max-width: $bp-small) {
        margin-left: 0;
        padding: 0 1rem;
        flex-direction: column;
      }

      & p {
        font-style: italic;
        font-weight: 300;
        font-size: 2.4rem;
        color: #000;
        margin-left: 1.8rem;
      }
    }
    & h1 {
      font-weight: 600;
      font-size: 14rem;
      color: #4e4e4e;
      margin-left: -25rem;

      @media only screen and (max-width: $bp-medium) {
        margin-left: 0;
        // font-size: 11rem;
      }

      @media only screen and (max-width: 44.0625em) {
        font-size: 11rem;
      }

      @media only screen and (max-width: $bp-small) {
        text-align: center;
      }

      @media only screen and (max-width: 20.125em) {
        font-size: 9rem;
      }
    }
  }

  & .orar {
    grid-area: orar;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    @media only screen and (max-width: $bp-medium) {
      position: absolute;
      width: max-content;
      top: 65rem;
      left: 50rem;
    }

    @media only screen and (max-width: 50.375em) {
      flex-direction: column;
      top: 55rem;
      left: 70rem;
    }

    @media only screen and (max-width: 41em) {
      flex-direction: column;
      top: 55rem;
      left: 65rem;
    }

    @media only screen and (max-width: $bp-small) {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: max-content;
    }

    &__btn {
      width: 24rem;
      height: 5rem;
      background: #ff6b6b;
      border-radius: 2rem;
      font-size: 2rem;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-bottom: 5.7rem;

      @media only screen and (max-width: $bp-large) {
        display: none;
      }

      & img {
        margin-right: 0.7rem;
      }
    }

    &__card {
      padding: 0 2rem;
      width: 24rem;
      height: 7rem;
      background: #fff;
      box-shadow: 0px 0.4rem 2.5rem -1rem rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-large) {
        margin-bottom: 4rem;
      }

      &:not(:last-child) {
        margin-bottom: 4rem;

        @media only screen and (max-width: $bp-large) {
          margin-bottom: 4rem;
          margin-right: 2rem;
        }

        @media only screen and (max-width: 50.375em) {
          margin-right: 0;
        }
      }

      &--icon {
        width: 4rem;
        height: 4rem;
        border-radius: 10rem;

        &__calendar {
          background: url(/img/calendar-icon.png), #ffafaf;
          width: 4.6rem;

          height: 4.6rem;
          background-repeat: no-repeat;
          background-position: center center;
          border-radius: 10rem;
        }

        &__clock {
          background: url(/img/ceas-icon.png), #ffafaf;
          width: 4.6rem;

          height: 4.6rem;
          background-repeat: no-repeat;
          background-position: center center;
          border-radius: 10rem;
        }

        &__phone {
          background: url(/img/phone-icon.png), #ffafaf;
          width: 4.6rem;

          height: 4.6rem;
          background-repeat: no-repeat;
          background-position: center center;
          border-radius: 10rem;
        }
      }

      &--txt {
        margin-left: 2rem;
        font-size: 1.6rem;
        color: #4e4e4e;
      }
    }
  }

  .btnbook {
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;

    @media only screen and (max-width: $bp-small) {
      padding-right: 0;
      position: absolute;
      top: 32rem;
    }
  }

  .btn {
    width: 24rem;
    height: 5rem;
    background: #ff6b6b;
    border-radius: 2rem;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 4rem;
    visibility: hidden;
    position: relative;
    @media only screen and (max-width: $bp-large) {
      visibility: visible;
    }

    & img {
      margin-right: 0.7rem;
    }
  }

  & .slide {
    grid-area: slide;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0 4rem 0;

    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      align-items: center;
    }

    & .imgs {
      display: flex;
      justify-content: center;
      img {
        @media only screen and (max-width: $bp--largest-xl) {
          width: 90%;
        }
      }
      // &::before {
      //   content: '';
      //   background: #ffb3b3;
      //   position: absolute;
      //   bottom: 2rem;
      //   left: 2rem;
      //   width: 100%;
      //   height: 100%;
      //   z-index: -1;
      // }
    }

    &__btns {
      display: flex;
      align-items: center;
      padding-right: 12rem;
      padding-top: 1rem;

      & span {
        margin: 0 1rem;
        font-size: 2.6rem;
        font-weight: 300;
      }

      & img {
        cursor: pointer;
      }
    }
  }
}
.leftSideUp {
  grid-area: leftSideUp;
  width: 48rem;
  height: 80rem;
  border-radius: 0px 0px 29rem 29rem;
  background-image: url(../img/header-h.png);
  background-color: rgba(255, 105, 105, 0.51);
  background-blend-mode: screen;
  background-position: center bottom;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-small) {
    margin: 0 auto;
  }

  // @media only screen and (max-width: 20.125em) {
  //   width: 90%;
  // }
}
.leftSideDown {
  padding: 1.5rem 0;
  grid-area: leftSideDown;
  // background-color: blueviolet;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  // margin-bottom: 1rem;

  @media only screen and (max-width: $bp-medium) {
    position: absolute;
    top: 82rem;
    right: 2rem;
  }

  @media only screen and (max-width: 46.875em) {
    right: 0;
    left: 47rem;
  }

  @media only screen and (max-width: $bp-small) {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  & .icon {
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 3rem;
    }
  }
}
